@import url('https://use.typekit.net/psl7zas.css');

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');
@import url('https://fonts.googleapis.com/css?family=Srisakdi&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cardo:700&display=swap');

::selection {
  background: lime; /* WebKit/Blink Browsers */
}
 body {
    /* background: linear-gradient(0deg, rgba(141,155,79,1) 0%, rgba(205,187,199,1) 100%); */
    background: rgb(161,185,121);
background: linear-gradient(180deg, rgba(161,185,121,1) 0%, rgba(216,135,159,1) 100%);
}

.audio {
   text-align:center;
}

#v1head {
   font-family: 'Helvetica', sans-serif;
   font-size: 3vw;
   position: fixed;
   padding-left:20px;
}

#v1head a {
   /* color:#3d3d3d; */
   color:white;
   text-decoration:none;
}

#v1head a:hover {
   text-decoration:underline
}

#titlevideo {
   margin-top:5%;
   text-align:center;
   position:relative;
}

#title {
	font-family: 'Srisakdi', cursive;
	font-size:7vw;
	padding-top:15%;
	text-align:center;
	margin-bottom:-100px;
	color:orange;
   position: absolute;
   top: 20%;
   left: 50%;
   transform: translate(-50%, -50%);
}

#authorname {
	font-family: 'Srisakdi', cursive;
	font-size:2vw;
	padding-bottom:15%;
	text-align:center;
	color:orange;
   position: absolute;
   top: 80%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.bodytext {
   font-family: 'Cardo', serif;
	font-size:2vw;
   color:gold;
   padding-left:20%;
   padding-right:20%;
   text-align:left;
}

.bodytext-center {
   font-family: 'Cardo', serif;
	font-size:2vw;
   color:gold;
   padding-left:20%;
   padding-right:20%;
   text-align:center;
}

.bodytext-cursive {
   font-family: 'Srisakdi', cursive;
	font-size:2vw;
   color:magenta;
   padding-left:20%;
   padding-right:20%;
   text-align:center;
}

.video-center {
   text-align:center;
}

.img-center {
   text-align:center;
}

.img-center:hover {
   filter:hue-rotate(89deg);
}
