@import url('https://use.typekit.net/psl7zas.css');

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');
@import url('https://fonts.googleapis.com/css?family=Srisakdi&display=swap');

::selection {
  background: lime; /* WebKit/Blink Browsers */
}
 body {
    background-color:black;
}

#titlevideo {
   margin-top:5%;
   text-align:center;
   position:relative;
}

#title {
	font-family: 'Srisakdi', cursive;
	font-size:7vw;
	padding-top:15%;
	text-align:center;
	margin-bottom:-100px;
	color:gold;
   position: absolute;
   top: 20%;
   left: 50%;
   transform: translate(-50%, -50%);
}

#authorname {
	font-family: 'Srisakdi', cursive;
	font-size:2vw;
	padding-bottom:15%;
	text-align:center;
	color:gold;
   position: absolute;
   top: 80%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.bodytext {
   font-family: 'Srisakdi', cursive;
	font-size:2vw;
   color:gold;
   padding-left:20%;
   padding-right:20%;
}
